html, body {
  margin: 0;
  height: 0;
  overflow: hidden;
  height: 100%;

  background:
    url('../img/bee-background-flower.png') no-repeat bottom right,
    url('../img/bee-background.png') no-repeat bottom center,
    linear-gradient(to top, #eec8b7, #b24d1e);

  background-size:
    20vw auto,             /* flower image */
    100% 85vh,             /* bees: 100% width, max 30% viewport height */
    cover;                 /* gradient fills page */

  background-repeat: no-repeat;
  background-attachment: fixed;

  font-family: 'Josefin Slab', 'Comfortaa', sans-serif;
  font-size: 1.2em;
  color: #811f3c;

  cursor: url('../img/bee_icon.png'), auto;
  }

canvas {
 cursor: url('../img/bee_icon.png'), auto;
 position: absolute;
 color: #811f3c
 width: 100%;
 height: 100%;
 float: inherit;
 }
 
 
a:hover {
  color: #bbcab5
}
   
a {
  color:#8ca283;
  text-decoration: none;
  font-weight: bold;
}



#navigation {
  text-align: center;
  font-size: 32px;
  color:#2a3952;
  padding-top: 10px; 
  height: 5%;
}  

#java {
  color: #811f3c;
} 

span{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  font-family: 'Georgia', cursive;
  font-size: 50px;
  color: #811f3c;
  text-align: center;
  white-space: nowrap;
  z-index: 2;
}

#bee-follow {
  position: absolute;
  width: 30px;
  height: 30px;
  pointer-events: none;
  z-index: 10;
}


@media (max-width: 768px) {
  #bee-follow {
    width: 100px !important;
    height: 100px !important;
  }
}

